.log_panel
{
    gap:10px;
    
}
.btn-primary {
    padding: 15px 30px; /* Увеличивает внутренние отступы */
    font-size: 18px;    /* Увеличивает размер шрифта */
    border-radius: 10px; /* Делает кнопки более округлыми */
    width: 200px;       /* Фиксированная ширина кнопки */
}

